<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:config="http://www.appleframework.com/schema/config" 
    xmlns:context="http://www.springframework.org/schema/context" 
    xsi:schemaLocation="  
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd  
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
        http://www.appleframework.com/schema/config http://www.appleframework.com/schema/config/apple-config-0.2.xsd">

	<context:component-scan base-package="com.appleframework.config.test" />

	<config:annotation-driven id="propertyConfigurer" location="config.properties" loadRemote="false" eventListenerClass="" />

	<bean id="demoXML" class="com.appleframework.config.test.Demo">
		<property name="config3" value="${demo.config1}" />
		<property name="config4" value="${config2}" />
	</bean>

</beans>