<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<context:component-scan base-package="com.appleframework.config.test" />

	<bean id="propertyConfigurer"
		class="com.appleframework.config.ExtendedPropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:config.properties</value>
			</list>
		</property>
		<property name="loadRemote" value="true" />
	</bean>

	<bean id="demoXML" class="com.appleframework.config.test.Demo">
		<property name="config3" value="${jdbc.url}" />
		<property name="config4" value="${sns.save.flag}" />
	</bean>

</beans>